:root {
	--bg-color: white;
	--primary-text-color: rgba(0, 0, 0, 0.8);
	--secondary-text-color: rgba(0, 0, 0, 0.2);
	--font: "Manrope", sans-serif;
	--max-width: 1024px;
}

body {
	background-color: var(--bg-color);
	color: var(--primary-text-color);
	font-family: var(--font);
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}

header {
	padding: 0;
	margin: 0;
	border-bottom: 1px solid var(--secondary-text-color);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

header h1 {
	font-size: 32px;
	font-weight: 800;
	margin: 0;
	padding: 20px 20px;
	font-family: var(--font);
	text-align: center;
}

header img {
	opacity: 0.8;
	height: calc(100% - 40px);
	width: auto;
}

h2 {
	width: calc(100% - 40px);
	max-width: var(--max-width);
	margin: 20px auto;
	font-weight: 700;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: calc(100% - 40px);
	max-width: var(--max-width);
	gap: 20px;
	margin: 20px auto;
}

.box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--secondary-text-color);
	width: 100%;
	border-radius: 5px;
}

.box h2 {
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 10px 0;
	font-weight: 600;
	font-size: 20px;
	border-bottom: 1px solid var(--secondary-text-color);
}

.box form {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: end;
	width: calc(100% - 60px);
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	gap: 30px;
	margin: 0 auto;
}

.box .datetime-form {
	flex-direction: row;
}

.box .input {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0;
	padding: 0;
}

.box label {
	width: 100%;
	text-align: left;
	font-weight: 600;
	font-size: 14px;
	padding-bottom: 5px;
	margin: 0;
}

.box input {
	padding: 10px;
	border: 1px solid var(--secondary-text-color);
	border-radius: 5px;
	font-family: var(--font);
}

.box input:focus {
	border: 1px solid var(--primary-text-color);
	outline: none;
}

.box button {
	color: var(--primary-text-color);
	background-color: #2bc48a;
	padding: 10px 20px;
	font-weight: 600;
	border: 1px solid var(--secondary-text-color);
	border-radius: 5px;
	font-family: var(--font);
}

.box button:hover {
	background-color: #2bc48a;
	opacity: 0.8;
	cursor: pointer;
}

.box .answer-input {
	display: flex;
	flex-direction: column;
	width: calc(100% - 60px);
	padding: 30px;
}

.filler {
	height: 100%;
}

.footer {
	position: static;
	bottom: 0;
	background-color: #f7f7f7;
	color: var(--primary-text-color);
	text-align: center;
	width: 100%;
}

.footer p {
	font-weight: 500;
	font-size: 14px;
	margin: 0;
	padding: 10px 30px;
	line-height: 2;
}

.footer a {
	color: #2bc48a;
	text-decoration: underline;
}

@media (max-width: 1084px) {
	.container {
		flex-direction: column;
	}

	.box .datetime-form {
		flex-direction: column;
	}
}
